<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718404177055-t2ebp63fq7enq6foh2jnt9ai016s4vt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718404177055-t2ebp63fq7enq6foh2jnt9ai016s4vt3</string>
	<key>API_KEY</key>
	<string>AIzaSyB_AM2WpZbXx3sI1vkce8ctMMk-ZLIiN9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>718404177055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.p8</string>
	<key>PROJECT_ID</key>
	<string>f-p8-8f5ce</string>
	<key>STORAGE_BUCKET</key>
	<string>f-p8-8f5ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718404177055:ios:b6db8d5a165063c35ba6aa</string>
</dict>
</plist>